span {
    color: #ffffff;
}

.scroll-view-1 {
    position: relative;
    height: 100vh;
}


.vel-title {
    top: 25%;
    left: 50%;
    transform: translateX(-50%) translateY(-25%);
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    font-size: 128px;
    letter-spacing: 0.3em;
    color: #FFFFFF;
    text-decoration: none;
}

.philosophy-title {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 64px;
}

.philosophy-summary {
    display: block;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.05em;
    line-height: 20px;
    color: #FFFFFF;
}

.shop-title {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 64px;
}

.about-us-title {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 64px;
}

.about-us-div {
    display: block;
    width: 50%;
}

#slide-shop {

}

