.vel-text-style {
    font-style: normal;
    font-weight: normal;
    text-align: center;
    font-size: 48px;
    letter-spacing: 0.25em;
    text-decoration: none;
}

.vel-title-style {
    font-style: normal;
    font-weight: normal;
    text-align: center;
    font-size: 150px;
    text-decoration: none;
}

#V {
	opacity: 1;
	animation: flickerV 2.5s linear;
}

/**#V::after {
	content: '';
	width: 100%;
	-webkit-box-shadow: -20px 0px 70px 8px rgba(255,255,255,1);
	-moz-box-shadow: -20px 0px 70px 8px rgba(255,255,255,1);
	box-shadow: -20px 0px 70px 8px rgba(255,255,255,1);
}**/

@keyframes flickerV {
	0% {
		opacity: 0.1;
	}
	5% {
		opacity: 0.05;
	}
	10% {
		opacity: 0.1;
	}
	15% {
		opacity: 0.15;
	}
	25% {
		opacity: 0.25;
	}
	30% {
		opacity: 0.30;
	}
	35% {
		opacity: 0.35;
	}
	40% {
		opacity: 0.40;
	}
	45% {
		opacity: 0.45;
	}
	50% {
		opacity: 0.50;
	}
	55% {
		opacity: 0.55;
	}
	60% {
		opacity: 0.60;
	}
	65% {
		opacity: 0.65;
	}
	70% {
		opacity: 0.70;
	}
	75% {
		opacity: 0.75;
	}
	80% {
		opacity: 0.80;
	}
	85% {
		opacity: 0.85;
	}
	90% {
		opacity: 0.90;
	}
	95% {
		opacity: 0.95;
	}
	100% {
		opacity: 1;
	}
}
