p {
	color: #fff;
	font-weight: 100;

}


.vel-title-style {
	font-style: normal;
	font-weight: normal;
	text-align: center;
	font-size: 150px;
	font-weight: 100;
	text-decoration: none;
}

.vel-text-style {
	font-style: normal;
	font-weight: normal;
	text-align: center;
	font-size: 48px;
	font-weight: 100;
	letter-spacing: 0.25em;
	text-decoration: none;
}

.shop-box {
	margin-right: 32px;
	margin-left: 32px;
}

.text-footer {
	font-size: 14px;
	padding: 14px;
	cursor: pointer;
}

a {
	text-decoration: none;
}

/**
* title animation 
*/

#V {
	opacity: 1;
	animation: flickerV 2.5s linear;
}

#V::after {
	content: '';
	width: 100%;
	box-shadow: -50px 0px 128px 10px rgba(255, 255, 255, 0.8);
}

@keyframes flickerV {
	0% {
		opacity: 0.01;
	}

	5% {
		opacity: 0.05;
	}

	10% {
		opacity: 0.1;
	}

	15% {
		opacity: 0.15;
	}

	25% {
		opacity: 0.25;
	}

	30% {
		opacity: 0.30;
	}

	35% {
		opacity: 0.35;
	}

	40% {
		opacity: 0.40;
	}

	45% {
		opacity: 0.45;
	}

	50% {
		opacity: 0.50;
	}

	55% {
		opacity: 0.55;
	}

	60% {
		opacity: 0.60;
	}

	65% {
		opacity: 0.65;
	}

	70% {
		opacity: 0.70;
	}

	75% {
		opacity: 0.75;
	}

	80% {
		opacity: 0.80;
	}

	85% {
		opacity: 0.85;
	}

	90% {
		opacity: 0.90;
	}

	95% {
		opacity: 0.95;
	}

	100% {
		opacity: 1;
	}
}

.in-evidence {
	margin: 5%;
	height: 450px;
}

.in-evidence img {
	width: 300px;
	height: 300px;
	cursor: pointer;
}

.shop-item {
	display: inline-block;
	width: 350px;
	height: 300px;
	margin: 5%;
}

.in-evidence-item-title {
	font-weight: 100;
	font-size: 24px;
	text-align: center;
	color: #fff;
	cursor: pointer;
}

.dot {
	height: 18px;
	width: 18px;
	border-radius: 50%;
	display: inline-block;
	margin: 2%;
	cursor: pointer;
}