@media all and (max-width: 600px) and (orientation: portrait) {
    body {
        margin: 5%;
    }
}

.top-nav {
    background-color: #f2f2f2;
    overflow: hidden;
    max-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
}

.top-nav h1 {
    color: #000;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
    margin-left: 16px;
    font-weight: 100;
    font-size: 32px;
}

.top-nav img {
    height: 100px;
    width: 100px;
    float: right;
    padding: 16px;
    cursor: pointer;
}

.text-footer {
    font-size: 14px;
    padding: 14px;
    cursor: pointer;
}

.price {
    font-size: 20px;
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 48px;
    font-family: "Montserrat", sans-serif;
    color: #000;
    font-weight: 300;
    padding: 16px;
    font-weight: 100;
}

h3 {
    text-align: center;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    color: #000;
    font-weight: 100;
}

#shirt-container {
    animation: fadein 2s;
}

p {
    color: #000;
}

img {
    width: 400px;
    height: 600px;
}

a {
    text-decoration: none;
}

button {
    border: 1px solid #000;
    background-color: rgb(256, 256, 256, 0);
    cursor: pointer;
    min-width: 15%;
    color: #000;
    padding: 8px;
    margin: 2px;
}

.size {
    background-color: rgb(256, 256, 256, 0);
    cursor: pointer;
    color: #000;
    padding: 8px;
    border: none;
    min-width: 30%;
    margin: 8px;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* slider */

* {
    box-sizing: border-box
}


/* Caption text */

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}


/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

.alert {
    position: relative;
    bottom: 16px;
    max-width: 500px;
    margin: auto;
}

.alert p {
    text-align: center;
    font-size: 12px;
    padding: 2%;
}